<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans" 
	    xmlns:context="http://www.springframework.org/schema/context" 
	    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" 
	    xmlns:tx="http://www.springframework.org/schema/tx" 
	    xsi:schemaLocation=" 
	    http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	    http://www.springframework.org/schema/context 
	    http://www.springframework.org/schema/context/spring-context-2.5.xsd 
	    http://www.springframework.org/schema/tx 
	    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
	    http://www.springframework.org/schema/aop 
	    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"> 

	<import resource="daoContext.xml" />
	<context:component-scan base-package="bjwxsytx" />
	<!--异常日志拦截器，Interceptor==advice-->
	<bean id="exceptionLoggerInterceptor" class="bjwxsytx.base.interceptor.ExceptionLoggerInterceptor">
	</bean>
	<aop:config>
		<aop:aspect id="logThrowing" ref="exceptionLoggerInterceptor">
			<aop:after-throwing
				pointcut="execution(* bjwxsytx.*.*.service.*.*(..))"
				throwing="throwable" method="afterThrowing" />
		</aop:aspect>
	</aop:config>  
	
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
	<property name="driverClassName">
		<value>oracle.jdbc.driver.OracleDriver</value> 
	</property> 
	<property name="username">
		<value>lbs</value>
	</property>
	<property name="password">
		<value>lbs</value>
	</property>
	
	<property name="url">
		<value>jdbc:oracle:thin:@localhost:1521:XE</value>
	</property>
    </bean> 
<bean id="dataSourceFacede" class="org.logicalcobwebs.proxool.ProxoolFacade" destroy-method="shutdown"></bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
   		<property name="dataSource">
   			<ref local="dataSource"/>
   		</property>
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:bjwxsytx/system/entity</value>
			</list>
		</property>   		
	   	<property name="hibernateProperties">  
		    <props>   
		     <prop key="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</prop>
		     <prop key="hibernate.show_sql">true</prop>
		     <prop key="hibernate.generate_statistics">true</prop>
		     <prop key="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</prop>
		    </props>  
	   </property>
	</bean> 
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">           
        <property name="sessionFactory">           
			<ref bean="sessionFactory"/>           
    	</property>
    </bean>         
    
 <!-- 声明方法的事物属性 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="find*" propagation="REQUIRED" read-only="true" />
			<tx:method name="search*" propagation="REQUIRED" read-only="true" />
			<tx:method name="*" propagation="REQUIRED" read-only="true" />
			<tx:method name="update*" propagation="SUPPORTS"  />
			<tx:method name="del*" propagation="SUPPORTS"  />
			<!--<tx:method name="*" propagation="REQUIRED" />
			 <tx:method name="get*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="search*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="check*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="save*" propagation="REQUIRED"
				rollback-for="cn.gzjp.base.exception.OperationException" />
			<tx:method name="update*" propagation="REQUIRED"
				rollback-for="cn.gzjp.base.exception.OperationException" />
			<tx:method name="delete*" propagation="REQUIRED"
				rollback-for="cn.gzjp.base.exception.OperationException" />
			<tx:method name="*" propagation="REQUIRED" /> -->
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut id="point-service"
			expression="execution(* bjwxsytx.*.*.service.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="point-service" />
	</aop:config>


   	
  
        
</beans>